<%- include('./../includes/header') %>
<h1>This is Create Blog Page</h1>

<form action="/create-blog" method="POST">
    <label for="">Enter your title</label>
    <input type="text" name="title" id="">
    <input type="submit">
</form>
<%- include('./../includes/footer') %>

