<%- include ('./includes/header') %>

<form action="/add" method="post">
    <label for="">This is Number One</label>
    <input type="number" name="numberOne">
    <label for="">This is Number Two</label>
    <input type="number" name="numberTwo">
    <input type="submit">
</form>

<%- include ('./includes/footer') %>